<div>
  <div>
    <button type="button" class="btn btn-primary" (click)="addRestuarant()">Add Restuarants</button>
  </div>
  <app-popup [isModalWindow]="isModalWindow" [formValues]="selectedResto" (isModalClose)="onModalClose()">
  </app-popup>
  <table class="table">
    <tr>
      <th>restaurants_name</th>
      <th>restid</th>
      <th>restaurant_url</th>

    </tr>
    <tr *ngFor="let addrestuarant of addrestuarants">
      <td>{{addrestuarant.restaurants_name}}</td>
      <td>{{addrestuarant.restid}}</td>
      <td><img src="{{addrestuarant.restaurant_url}}" alt=""></td>

      <button type="submit" class="btn-primary" (click)="onModalToggle(addrestuarant)">edit</button>
      <button type="submit" class="btn-primary">delete</button>
    </tr>

  </table>
</div>
