<div class="modal modalwindow" *ngIf="ismodel">
  <div class="modal-dialog">
    <div class="modal-content">

      <form #userforms="ngForm" (ngSubmit)="onUserFormSubmit(userforms)">
        <div class="modal-header">
          <h4 class="modal-title">Accepted Cards</h4>
          <button type="button" class="close" (click)="eventfunction()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div  class="form-group">
            <label for="cardname"> cardname</label>
            <input type="text" id="cardname" class="form-control" name="cardname" [(ngModel)]="cardname">
          </div>
          <div class="form-group">
            <label for="price">total price</label>
            <input type="text" id="price" name="price" class="form-control" [(ngModel)]="totalprice">
          </div>

          <div class="form-group">
            <label for="cvv">cvv</label>
            <input type="text" id="cvv" name="cvv" class="form-control" [(ngModel)]="cvv">
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="onUserFormSubmit(userforms)">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
