<h5 class="text-center mt-2">Restaurants</h5>
<div class="row">
  <div class="col-md-4 mb-2 mt-2" *ngFor="let item of restaurantList">
    <mat-card>
      <div class="row">
        <div class="col">
           <img [src]="item.imageUrl" width="200" height="110"  style="object-fit:none"> 
          <p class="ml-2">{{item.restaurants_name}}</p>
        </div>
      </div>
      <!-- {{a.rashmi}} -->
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" (click)="onVisitResto(item)">Visit</button>
        </div>
      </div>
    </mat-card> 
  </div>

</div>
