<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{dishItem.menu_name}}</mat-card-title>
    <mat-card-subtitle>Price: Rs.{{dishItem.price}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="dishItem.menuurl" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{dishItem.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn btn-danger" [disabled]='cartCount == 0' (click)="removeFromCart()">Remove</button>
    <p class="d-inline ml-4 round-b">{{cartCount}}</p>
    <button class="btn btn-success ml-4" (click)="addToCart()">Add to Cart</button>
    <p class="d-inline ml-4">Totlal Price: Rs.{{cartPrice}}</p>
  </mat-card-actions>
</mat-card>
